<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<context:property-placeholder location="classpath:dbconn/conninfo.properties"/>
	<bean class="org.apache.commons.dbcp2.BasicDataSource" id="hanul_dbcp">
		<property name="driverClassName" value="${db.driver}"/>
		<property name="url" value="${db.url}"/>
		<property name="username" value="${hanul.user}"/>
		<property name="password" value="${hanul.pw}"/>
	</bean>
	<bean class="org.mybatis.spring.SqlSessionFactoryBean" id="hanul_factory">
		<property name="dataSource" ref="hanul_dbcp"/>
		<property name="mapperLocations" value="classpath:mappers/*_mapper.xml"/>
		<property name="configLocation" value="classpath:mappers/typeConfig.xml"/>
	</bean>
	
	<bean class="org.mybatis.spring.SqlSessionTemplate" id="hanul">
		<constructor-arg name="sqlSessionFactory" ref="hanul_factory"/>
	</bean>
	<bean class="org.apache.commons.dbcp2.BasicDataSource" id="hr_dbcp">
		<property name="driverClassName" value="${db.driver}"/>
		<property name="url" value="${db.url}"/>
		<property name="username" value="${hr.user}"/>
		<property name="password" value="${hr.pw}"/>
	</bean>
	<bean class="org.mybatis.spring.SqlSessionFactoryBean" id="hr_factory">
		<property name="dataSource" ref="hr_dbcp"/>
		<property name="mapperLocations" value="classpath:mappers/*_mapper.xml"/>
		<property name="configLocation" value="classpath:mappers/typeConfig.xml"/>
	</bean>
	
	<bean class="org.mybatis.spring.SqlSessionTemplate" id="hr">
		<constructor-arg name="sqlSessionFactory" ref="hr_factory"/>
	</bean>
</beans>
